apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/pki/simp_apps/simp_kubernetes/x509/cacerts/cacerts.pem
    server: https://master01.tasty.bacon:6443
  name: default-cluster
- cluster:
    server: http://localhost:8080
  name: http-localhost
contexts:
- context:
    cluster: default-cluster
    user: default-admin
  name: default-system
- context:
    cluster: http-localhost
  name: http-system
current-context: default-system
kind: Config
preferences:
  colors: true
users:
- name: default-admin
  user:
    client-certificate: /etc/pki/simp_apps/simp_kubernetes/x509/private/master01.tasty.bacon.pem
    client-key: /etc/pki/simp_apps/simp_kubernetes/x509/private/master01.tasty.bacon.pem
